*{margin: 0px; padding: 0px;}
li {list-style: none;}
.header {width: 100%; height: 100px; background-image: url(../images/banner.jpg); background-size: inherit;}
.dung{ text-align:right; }
.main_menu>ul>li>a {text-decoration: none; color: #FFF; font-size: 16px;}
.clear {clear: both;}
.wrapper{width: 100%; height: auto; background: #F8F8F8; margin: 0px auto;}
.main_menu {background: #0078a3; padding-left: 300px; }
.main_menu>ul>li {float: left; padding: 12px 50px;position: relative; border-right: 1px dotted #ACACAC; }
.main_menu>ul>li:last-child {border-right: none;}
.main_menu>ul>li ul{display: none;position: absolute;background: #0078a3;top: 41px; width: 198px; left: 0px;}
.main_menu>ul>li:hover ul{display: block; }
.main_menu>ul li:hover {background: #5F5C5C; transition: all 0.15s;}
.main_menu>ul>li>ul>li {padding: 5px 10px; border-bottom: 1px dotted #ACACAC; }
.main_menu>ul>li>ul>li a{color: #FFF;font-size: 15px;}
.plan_left>ul>li:hover ul{display: block; }


.left_menu{ height: 700px; background: #00A69B;}
.left_menu>ul>li { background: #00A69B; float: next; padding: 8px 12px;position: relative; border-right: 1px dotted #ACACAC;}
.left_menu>ul li:hover {background: #5F5C5C; transition: all 0.15s;}
.left_menu>ul>li>a {color: #FFF;font-size: 15px;}

.main_page {height: 700px; background: #F8F8F8;padding-left: 20px; display: auto;}

.component_details>ul>li>a {text-decoration: none; color: #FFF; font-size: 18px;}
.component_details {background: indigo; margin-top: 5px; padding-left: 0px; }
.component_details>ul>li {float: left; padding: 5px 20px;position: relative; border-right: 1px dotted #b3b3b3; }
.component_details>ul>li:last-child {border-right: none;}
.component_details>ul>li ul{display: none;position: absolute; background: #8DC26F    ;top: 41px; width: 198px; left: 0px;}
.component_details>ul>li:hover ul{display: block;}
.component_details>ul li:hover {background: #5F5C5C; transition: all 0.15s;}

body, input, textarea{
    font-family: Arial;
    font-size: 12px;
}
.button {
    background-color: lavender;
    text-align: center;
    padding: 2px ;
    margin: 6px;
    white-space: nowrap;
}
table {
    padding: 1px 3px;
}

#searchInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.listTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 16px; /* Increase font-size */
}

.listTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

.listTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

.listTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.listTable thead,.listTable tbody{
                display:inline-block;
            }

form fieldset table tr td {
    font-size: 13px;
    padding: 0px 24px;
}
form fieldset {
    margin-top: 8px;
    border-color: #F9F9F9;
}